.custom-toolbar {
  background-color: #1976d2; /* Toolbar background color */
  color: #fff; /* Toolbar text color */
  padding: 0 16px; /* Toolbar padding */
}

.toolbar-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.resume-button {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #4caf50; /* Green background for button */
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.example-spacer {
  flex: 1 1 auto;
}

.location-icon,
.profile-icon {
  color: #fff;
  margin-left: 16px;
  font-size: 20px;
}

.location-icon:hover,
.profile-icon:hover {
  color: #ddd;
}


