<!-- src/app/signin/signin.component.html -->
<div class="container-fluid   ">
  <div class="row no-gutters">
    <div class="col-md-6 d-flex align-items-center">
      <!-- Login Form -->
      <div class="login-form-container">
        <h3 class="title">Career Camp</h3>
        <h1 class="welcome-text">Be The Best</h1>
        <form class="form p-4 rounded shadow-lg bg-white" #loginForm="ngForm">
          <h3 class="form-title">Sign Up</h3>
          <span class="form-subtitle">Make the most of your professional life</span>
          <div class="form-group mb-3">
            <label for="email" class="form-label">UserName</label>
            <div class="input-container">
              <i class="fa-solid fa-user input-icon"></i>     
              <!-- <i class="fa-solid fa-envelope input-icon"></i> -->

              <input type="text" [(ngModel)]="userName" class="form-control" id="username" name="username" placeholder="Enter your username" required>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <div class="input-container">
              <i class="fa-solid fa-envelope input-icon"></i>
              <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-container">
              <i class="fa-solid fa-lock input-icon"></i>
              <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100" (click)="onClick()" [disabled]="loginForm.invalid" >
            Sign Up
            <i class="fa-solid fa-arrow-right-to-bracket" style="margin-left: 20px;"></i>
          </button>
          <br>
          <br>
          <div class="d-flex">
            <p>Already have an Account?</p>
            <a [routerLink]="['/sign-in']">Sign in</a>

          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-block">
      <!-- Image Section -->
      <div class="image11">
        <img src="https://d341ezm4iqaae0.cloudfront.net/assets/2018/08/02195959/indeed-Hub-illustrations-19-1_lambdaoptimized.webp" alt="Decorative Image" class="animated-image">
      </div>
    </div>
  </div>
</div>
