<div style="width: 1000px; height: 500px; margin: 0 auto;">
  <app-slideshow [slides]="slides"></app-slideshow>
</div>

<div id="home" class="text-center pt-5 mt-5">
  <h1>Welcome to Job Board!</h1>
  <p>Discover a wide range of opportunities from top companies.</p>
  <p>Whether you're looking for a career change or your first job, we've got you covered.</p>
  <p>Explore thousands of listings and find your dream job today.</p>
  <p>Your future starts here – take the first step now!</p>
</div>

<div id="items" class="container my-5">
  <div class="row">
    <!-- <div class="col-12 col-md-6 mb-4">
      <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFFJxvAx78R2MSW3Tinhtj2_ZgWKMD6pV4Vg&s" alt="Image 1" class="img-fluid hover-img">
        <div class="overlay">
          <div class="overlay-text">Text on Image 1</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFFJxvAx78R2MSW3Tinhtj2_ZgWKMD6pV4Vg&s" alt="Image 2" class="img-fluid hover-img">
        <div class="overlay">
          <div class="overlay-text">Text on Image 2</div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-detail></app-detail>





<div class="mt-5">
  <app-footer></app-footer>
</div>
