/* Container and overall styling */
.rental-info-container {
    margin-top: 30px;
}

/* Info Cards Styling */
.info-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
    background-color: #f8f9fa;
    cursor: pointer;
    padding: 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover effect for cards */
.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Remove hover effect for stats */
.stat-item h2,
.stat-item p {
    margin-bottom: 0;
    color: #343a40;
}

/* Remove box-shadow and hover for stat boxes */
.stat-item .stat-box {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

/* Card Header Styling */
.info-card-header {
    background-color: #fff;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Icon Styling */
.info-icon {
    font-size: 1.5rem;
    color: #1976d2;
    margin-top: 15px;
}

/* Stat Heading and Paragraph Styling */
.stat-item h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 1rem;
    color: #030303;
}

/* Stats Section Styling */
.stats-section {
    margin-top: 50px;
}

/* Text section styling */
.tt {
    border-radius: 10px;
    background-color: #cfe1f3;
    padding: 20px;
    margin-top: 20px;
}
