<mat-toolbar class="custom-toolbar">
  <!-- Sidebar Toggle Button - hidden on landing page -->
  <button
    *ngIf="!isLanding()"
    mat-icon-button
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
    class="neumorphic-button example-icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Title -->
  <span class="toolbar-title">Career Camp</span>

  <span class="example-spacer"></span>

  <!-- Sign In and Sign Up Buttons on Landing Page -->
  <ng-container *ngIf="isLanding(); else otherButtons">
    <button mat-button class="auth-button " routerLink="/home">Sign In</button>
    <button mat-stroked-button class="auth-button " style="border: none;" routerLink="/sign-up">Sign Up</button>
  </ng-container>

  <!-- Resume Button, Location Icon, Profile Icon - hidden on landing page -->
  <ng-template #otherButtons>
    <a mat-button href="http://localhost:3000" target="_blank" class="resume-button">
      Resume
    </a>
    <i
      class="fa-solid fa-map-location-dot location-icon"
      style="cursor: pointer;"
      routerLink="/map"
      routerLinkActive="active"
      aria-label="Location"
    ></i>
    <i
      class="fa-solid fa-user profile-icon"
      style="cursor: pointer;"
      routerLink="/profile"
      routerLinkActive="active"
      aria-label="Profile"
    ></i>
  </ng-template>
</mat-toolbar>
