.card {
    border-radius: 0.5rem;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    max-width: 800px; /* Adjust as needed */
    margin:auto; /* Center the card horizontally */
  }
  
  .card-body {
    padding: 2rem;
  }
  
  
  .card-title {
    color: #333;
    font-size: 1.5rem;
  }
  
  .card-text {
    color: #555;
  }
  
  .badge {
    font-size: 0.875rem; /* Sets the font size */
    font-weight: 800; /* Makes the text bold */
    border-radius: 5%; /* Rounds the corners */
    border: 2px solid rgb(32, 29, 29); /* Adds a solid black border */
     /* Adds padding for better appearance */
    display: inline-block; /* Ensures badges are inline-block for consistent spacing */
    background-color: #f8f9fa; /* Optional: adds a light background color */
    color: black; /* Sets text color to black for contrast */
  }
  
  
  .card-body h5 {
    color: #333;
  }


  .btn-close {
    box-shadow: none; /* Remove any shadow that might appear as a border */
    outline: none; /* Remove any focus outline */
    background-color: transparent; /* Ensure background is transparent */
    font-size: 1.25rem; /* Adjust size if necessary */
    opacity: 0.7; /* Default Bootstrap opacity for better visibility */
  }
  
  .btn-close:hover {
    opacity: 1; /* Increase opacity on hover for better visibility */
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .top-0 {
    top: 0;
  }
  
  .end-0 {
    right: 0;
  }
  