<div class="chatbot-container">
    <div class="chat-icon" (click)="toggleChat()">
        <i class="fa-regular fa-comment-dots"></i>
    </div>
    <div class="chat-container" [ngClass]="{ 'open': isOpen }">
      <div class="chat-header">
        <h5 class="chat-title">Help Assistant</h5>
        <button class="close-btn" (click)="toggleChat()">
            <i class="fa-regular fa-comment-dots"></i>
        </button>
      </div>
      <div class="chat-messages">
        <div *ngFor="let message of messages" [ngClass]="message.type + '-message'">
          {{ message.text }}
        </div>
      </div>
      <div class="chat-input-container">
        <mat-form-field appearance="fill" class="chat-input-field">
          <input
            matInput
            placeholder="Type your question here..."
            [(ngModel)]="question"
            (keyup.enter)="generateAnswer()"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateAnswer()">Send</button>
      </div>
    </div>
  </div>
  